# Scheduler section
ANNOUNCEMENT_PERIODICITY=7
SCHEDULER_BATCH_SIZE=3

# Redis section
REDIS_HOST=redis
REDIS_PORT=6379

# Rabbit section
BROKER_URL=amqp://guest:guest@rabbit/
SUFFIX=_delayed

# Messages history section
HISTORY_DB_NAME=messages_history
HISTORY_DB_USER=app
HISTORY_DB_PASSWORD=123qwe
HISTORY_DB_HOST=messages_history
HISTORY_DB_PORT=5432

# Broker section
MIN_HOUR=9
MAX_HOUR=21
SENDER_HOST=mailhog
SENDER_PORT=1025
SENDER=sender@mailhog.local
